<?xml version="1.0"?>
<config>
  <modules>
    <Magebuzz_Bannerpopup>
      <version>0.1.1</version>
    </Magebuzz_Bannerpopup>
  </modules>
  <frontend>
    <secure_url>
      <bannerpopup>/bannerpopup/</bannerpopup>
    </secure_url>	
    <routers>
      <bannerpopup>
        <use>standard</use>
        <args>
          <module>Magebuzz_Bannerpopup</module>
          <frontName>bannerpopup</frontName>
        </args>
      </bannerpopup>
    </routers>
    <translate>
    <modules>
      <Magebuzz_Bannerpopup>
        <files>
          <default>Magebuzz_Bannerpopup.csv</default>
        </files>
      </Magebuzz_Bannerpopup>
    </modules>
  </translate>  
    <layout>
      <updates>
        <bannerpopup>
          <file>bannerpopup.xml</file>
        </bannerpopup>
      </updates>
    </layout>
  </frontend>
  <admin>
    <routers>
      <bannerpopup>
        <use>admin</use>
        <args>
          <module>Magebuzz_Bannerpopup</module>
          <frontName>bannerpopup</frontName>
        </args>
      </bannerpopup>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <bannerpopup>
          <file>bannerpopup.xml</file>
        </bannerpopup>
      </updates>
    </layout>
    <translate>
    <modules>
      <Magebuzz_Bannerpopup>
        <files>
          <default>Magebuzz_Bannerpopup.csv</default>
        </files>
      </Magebuzz_Bannerpopup>
    </modules>
  </translate>  
  </adminhtml>   
  <global>
    <models>
      <bannerpopup>
        <class>Magebuzz_Bannerpopup_Model</class>
        <resourceModel>bannerpopup_mysql4</resourceModel>
      </bannerpopup>
      <bannerpopup_mysql4>
        <class>Magebuzz_Bannerpopup_Model_Mysql4</class>
        <entities>
          <bannerpopup>
            <table>bannerpopup</table>
          </bannerpopup>
        </entities>
      </bannerpopup_mysql4>
    </models>
    <resources>
      <bannerpopup_setup>
        <setup>
          <module>Magebuzz_Bannerpopup</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </bannerpopup_setup>
      <bannerpopup_write>
        <connection>
          <use>core_write</use>
        </connection>
      </bannerpopup_write>
      <bannerpopup_read>
        <connection>
          <use>core_read</use>
        </connection>
      </bannerpopup_read>
    </resources>
    <blocks>
      <bannerpopup>
        <class>Magebuzz_Bannerpopup_Block</class>
      </bannerpopup>		
    </blocks>
    <helpers>
      <bannerpopup>
        <class>Magebuzz_Bannerpopup_Helper</class>
      </bannerpopup>
    </helpers>
    <template>
      <email>
        <bannerpopup_general_email_template>
          <label>Title Email</label>
          <file>bannerpopup_example.html</file>
          <type>html</type>
        </bannerpopup_general_email_template>
      </email>
    </template>			
  </global>	  
  <default>
    <bannerpopup>
      <general>
        <showpopup>1</showpopup>
        <cookietime>1</cookietime>
        <hidepopup>1</hidepopup>
      </general>    
    </bannerpopup>
  </default>  
</config>